# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [3]:
car1 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv')
car2 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv')

In [4]:
car1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN

### Step 4. Ops it seems our first dataset has some unnamed blank columns, fix cars1

In [14]:
car1.drop(['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13'],axis =1).head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 5. What is the number of observations in each dataset?

In [15]:
print(car1.shape[0])
print(car2.shape[0])

198
200

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [18]:
cars = pd.merge(car1,car2,how = 'outer')
cars.shape

(398, 14)

In [23]:
car1.merge(car2,how='outer')

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN
5,15.0,8,429,198,4341,10.0,70,1,ford galaxie 500,NaN,NaN,NaN,NaN,NaN
6,14.0,8,454,220,4354,9.0,70,1,chevrolet impala,NaN,NaN,NaN,NaN,NaN
7,14.0,8,440,215,4312,8.5,70,1,plymouth fury iii,NaN,NaN,NaN,NaN,NaN
8,14.0,8,455,225,4425,10.0,70,1,pontiac catalina,NaN,NaN,NaN,NaN,NaN
9,15.0,8,390,190,3850,8.5,70,1,amc ambassador dpl,NaN,NaN,NaN,NaN,NaN
10,15.0,8,383,170,3563,10.0,70,1,dodge challenger se,NaN,NaN,NaN,NaN,NaN
11,14.0,8,340,160,3609,8.0,70,1,plymouth 'cuda 340,NaN,NaN,NaN,NaN,NaN
12,15.0,8,400,150,3761,9.5,70,1,chevrolet monte carlo,NaN,NaN,NaN,NaN,NaN
13,14.0,8,455,225,3086,10.0,70,1,buick estate wagon (sw),NaN,NaN,NaN,NaN,NaN
14,24.0,4,113,95,2372,15.0,70,3,toyota corona mark ii,NaN,NaN,NaN,NaN,NaN
15,22.0,6,198,95,2833,15.5,70,1,plymouth duster,NaN,NaN,NaN,NaN,NaN
16,18.0,6,199,97,2774,15.5,70,1,amc hornet,NaN,NaN,NaN,NaN,NaN
17,21.0,6,200,85,2587,16.0,70,1,ford maverick,NaN,NaN,NaN,NaN,NaN
18,27.0,4,97,88,2130,14.5,70,3,datsun pl510,NaN,NaN,NaN,NaN,NaN
19,26.0,4,97,46,1835,20.5,70,2,volkswagen 1131 deluxe sedan,NaN,NaN,NaN,NaN,NaN
20,25.0,4,110,87,2672,17.5,70,2,peugeot 504,NaN,NaN,NaN,NaN,NaN
21,24.0,4,107,90,2430,14.5,70,2,audi 100 ls,NaN,NaN,NaN,NaN,NaN
22,25.0,4,104,95,2375,17.5,70,2,saab 99e,NaN,NaN,NaN,NaN,NaN
23,26.0,4,121,113,2234,12.5,70,2,bmw 2002,NaN,NaN,NaN,NaN,NaN
24,21.0,6,199,90,2648,15.0,70,1,amc gremlin,NaN,NaN,NaN,NaN,NaN
25,10.0,8,360,215,4615,14.0,70,1,ford f250,NaN,NaN,NaN,NaN,NaN
26,10.0,8,307,200,4376,15.0,70,1,chevy c20,NaN,NaN,NaN,NaN,NaN
27,11.0,8,318,210,4382,13.5,70,1,dodge d200,NaN,NaN,NaN,NaN,NaN
28,9.0,8,304,193,4732,18.5,70,1,hi 1200d,NaN,NaN,NaN,NaN,NaN
29,27.0,4,97,88,2130,14.5,71,3,datsun pl510,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
368,27.0,4,112,88,2640,18.6,82,1,chevrolet cavalier wagon,NaN,NaN,NaN,NaN,NaN
369,34.0,4,112,88,2395,18.0,82,1,chevrolet cavalier 2-door,NaN,NaN,NaN,NaN,NaN
370,31.0,4,112,85,2575,16.2,82,1,pontiac j2000 se hatchback,NaN,NaN,NaN,NaN,NaN
371,29.0,4,135,84,2525,16.0,82,1,dodge aries se,NaN,NaN,NaN,NaN,NaN
372,27.0,4,151,90,2735,18.0,82,1,pontiac phoenix,NaN,NaN,NaN,NaN,NaN
373,24.0,4,140,92,2865,16.4,82,1,ford fairmont futura,NaN,NaN,NaN,NaN,NaN
374,23.0,4,151,?,3035,20.5,82,1,amc concord dl,NaN,NaN,NaN,NaN,NaN
375,36.0,4,105,74,1980,15.3,82,2,volkswagen rabbit l,NaN,NaN,NaN,NaN,NaN
376,37.0,4,91,68,2025,18.2,82,3,mazda glc custom l,NaN,NaN,NaN,NaN,NaN
377,31.0,4,91,68,1970,17.6,82,3,mazda glc custom,NaN,NaN,NaN,NaN,NaN
378,38.0,4,105,63,2125,14.7,82,1,plymouth horizon miser,NaN,NaN,NaN,NaN,NaN
379,36.0,4,98,70,2125,17.3,82,1,mercury lynx l,NaN,NaN,NaN,NaN,NaN
380,36.0,4,120,88,2160,14.5,82,3,nissan stanza xe,NaN,NaN,NaN,NaN,NaN
381,36.0,4,107,75,2205,14.5,82,3,honda accord,NaN,NaN,NaN,NaN,NaN
382,34.0,4,108,70,2245,16.9,82,3,toyota corolla,NaN,NaN,NaN,NaN,NaN
383,38.0,4,91,67,1965,15.0,82,3,honda civic,NaN,NaN,NaN,NaN,NaN
384,32.0,4,91,67,1965,15.7,82,3,honda civic (auto),NaN,NaN,NaN,NaN,NaN
385,38.0,4,91,67,1995,16.2,82,3,datsun 310 gx,NaN,NaN,NaN,NaN,NaN
386,25.0,6,181,110,2945,16.4,82,1,buick century limited,NaN,NaN,NaN,NaN,NaN
387,38.0,6,262,85,3015,17.0,82,1,oldsmobile cutlass ciera (diesel),NaN,NaN,NaN,NaN,NaN
388,26.0,4,156,92,2585,14.5,82,1,chrysler lebaron medallion,NaN,NaN,NaN,NaN,NaN
389,22.0,6,232,112,2835,14.7,82,1,ford granada l,NaN,NaN,NaN,NaN,NaN
390,32.0,4,144,96,2665,13.9,82,3,toyota celica gt,NaN,NaN,NaN,NaN,NaN
391,36.0,4,135,84,2370,13.0,82,1,dodge charger 2.2,NaN,NaN,NaN,NaN,NaN
392,27.0,4,151,90,2950,17.3,82,1,chevrolet camaro,NaN,NaN,NaN,NaN,NaN
393,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,NaN,NaN,NaN,NaN,NaN
394,44.0,4,97,52,2130,24.6,82,2,vw pickup,NaN,NaN,NaN,NaN,NaN
395,32.0,4,135,84,2295,11.6,82,1,dodge rampage,NaN,NaN,NaN,NaN,NaN
396,28.0,4,120,79,2625,18.6,82,1,ford ranger,NaN,NaN,NaN,NaN,NaN
397,31.0,4,119,82,2720,19.4,82,1,chevy s-10,NaN,NaN,NaN,NaN,NaN

In [20]:
cars = car1.append(car2)
cars.shape

(398, 14)

### Step 7. Ops there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

### Step 8. Add the column owners to cars